.DS_Store
__MACOSX/
.env
.env.*
!.env.example
**/error_log
**/*.log
**/*.bak
/public_html/admin/uploads/
/public_html/admin/E-mail/uploads/
/database/ikusa.sql
/public_html/admin/config/connection.php
/app/src/Domains/Appointments/Config/calendar.local.php
/app/src/Domains/Appointments/Config/*.json

/storage/
